body{

	font-family: sans-serif,"helvetica", "arial";
	height: 100%
	width: 100%;
}

header {
	background-color: green;
	color:white;
	height: 150px;
	width: 95%;
	padding: 10px;
	margin: 10px;
}

h1 {
	color:white;
	font-style: serif;
	font-weight: bolder;
	font-size: 200%;
	padding: 10px;
}

nav    { 
    margin: 0;
    padding: 0;
    background-color: green;
	display: inline;
}

nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover 
{
    background-color: #111;
    color: white;
}

.back{

	background-image: url("http://murisko.people.si.umich.edu/Web%20Portfolio/imgweb/zebra-print-background.jpg");
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.box 
{
	background-color:white;
	font-size: 400%;
	text-align: center;
	height: 100%;
	width:90%;
	padding: 20px;
	overflow: hidden;
	margin: 0 auto;

}

.formbox 
{
	background-color:white;
	font-size: 80%;
	text-align: left;
	height: 70%;
	width:70%;
	padding: 20px;
	overflow: hidden;
	margin: 0 auto;

}

.selected
{
	border-bottom: 2px solid white;
}


#aboutmephoto
{
	display: block;
	height: 30%;
	width: 30%;
	padding: 10px;
	margin: 0 auto;
}

#aboutmetext
{
	font-size: 12px;
	display: block;
	padding: 10px;
	border: 1px solid grey;
	border-radius: round;
	float: left;
}

#aboutmetext h2 
{
	font-size: 20px;
	font-weight: bold;
	float: center;
}

#emptygal {
	font-size: 14px;
}

#emptygal img
{
	width: 20%;
	height: 20%;
}

.photogal img

{	
	display: inline-block;
	margin: 8px;
	padding:8px;
	height: 10%;
	width: 10%;
}

.popup
{
	display: block;
	width: 25%;
	height: 25%;
	padding-top: 10px;
	margin: 0 auto;
}

#emptygal
{
	display: block;
	margin: 0 auto;
	text-align: center;
}

footer{
	background-color: green;
	color:white;
	font-style: times;
	text-align: center;
	height: 50px;
	width: 95%;
	bottom:0;
	position: fixed;
}

@media screen and (max-width: 600px )
{
	.back 
	{ background-image: none; 
	}


}

@media screen and (max-width: 480px )
{
	.back 
	{ background-image: none; 
	}

	header
	{position: fixed;}

	.photogal img
	{	
	display: inline-block;
	margin: 8px;
	padding:8px;
	height: 30%;
	width: 30%;
	}

	#emptygal img
	{
	width: 20%;
	height: 20%;
	}

		footer
	{
	position: relative;
	}
}